.body{
    background-color: #F7F7F7;
    width: 99%;
    height: 1010px;
    
}

.h1{

background-color:white ;
color:black;
padding : 20px ;
font-weight: bold;
 letter-spacing: 0px;
 text-align: left;
  left: 145px;
font-size: 35px;
display: block;
}

.list{
    color:blue;
}
.main{
    height: 82px;
    position: absolute;
    display: block;
    padding-top: 46px;
    background-color: #F7F7F7;
  
}
.plus{
    position: relative;
    color: white;
    background-color: blue;
    font-size: 35px;
    text-align: center;
    left: 1034px;
    width: 39px;
    height: 40px;
    border: none;
    border-radius: 50%;
    top:5px;
 
 
}

.task{
    position: relative;
    color: black;
    padding: 5px;
    left: 1036px;
    font-size: 23px;
    border: none;
  
}
.mainbox{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 1385px;
    position: absolute;
    top: 210px;
    border: 0px solid #5a5858;
    justify-content: flex-start;
    background-color: #F7F7F7;
    align-content: space-around;
    align-items: flex-start;
}
.box{
    height: 354px;
    width: 357px;
    position: relative;
    left: 92px;
    margin: 15px;
    border: 0px solid rgb(142, 141, 141);
    text-align: start;
    border-radius: 11px;
    background-color: white;
    

}
.box:hover{
    background-color:whitesmoke;
    box-shadow: 2px 3px 5px 5px rgb(181, 179, 179);

}

.p1{
    color:rgb(18, 140, 184);
    margin: 20px;
    font-size: 22px;
    padding-top: 10px;
    font-family: system-ui;

}
.linethrogh{
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 15px;
    color: #858080;
}
.check{
    transform: scale(1.4);
    margin-left: 15px;
    

   
}
.size{
    margin-left: 14px;
    background-color: #454545;
}
.label{
    font-size: 19px;
}
a{
    text-decoration: none;
    color:rgb(14 183 244);
}

                       /* index 2 */

.index2{
    background-color: white;
    border-radius: 10px;
    width: 448px;
    height: 185px;
    border: 2px solid black;
    z-index: 1;
    position: absolute;
     top:225px;
    left: 475px;
   
    
}
.mudasir{
    opacity: 0.7;
    filter: brightness(0.3);
}
#add{
    color: #303030;
    text-decoration: none;
    position: relative;
    font-size: 11px;
    left: 12px;
    top: 6px;
}
#cross{
    position: absolute;
    color: gray;
    top: -4px;
    left: 373px;
    font-size: 19px;
    text-decoration: none;
}
.task2{
    color: white;
    background-color: #007cff;
    width: 148px;
    height: 32px;
    bottom: 20px;
    position: absolute;
    font-size: 20px;
    right: 18px;
}
#c{
    border: 2px solid rgb(109, 108, 108);
    width: 418px;
    height: 22px;
    margin-left: 10px;
    background-color: rgb(158, 158, 158);
    font-size: 22px;
}
#learn{
    position: relative;
    left: 17px;
    top: -15px;
    font-size: 18px;
}

                           /* index3   */
.index3{
    opacity: 0.7;
    opacity: 0.7;
    background-color: #F7F7F7;
    margin: none;
    width: 100%;
    height: 1010px;
   
}
.h2{
    background-color: white;
    color: black;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    left: 145px;
    font-size: 35px;
    display: block;
}
 .list2{
    color: blue;
 }


.index3box{
    display: flex;
    flex-wrap: wrap;
    height: 842px;
    width: 1400px;
    position: absolute;
    top: 207px;
    border: 0px solid #5a5858;
    justify-content: flex-start;
    background-color: #F7F7F7;
    align-content: space-around;
    left: 12px;
   
}
#box1{
    height: 236px;
    width: 482px;
    position: relative;
    left: 466px;
    top: -262px;
    margin: 15px;
    border: 0px solid rgb(142, 141, 141);
    text-align: start;
    border-radius: 11px;
    background-color: white;
}

.p2{
    color:rgb(0, 149, 255);
    font-weight: bold;
    margin:20px;
    font-size:24px;
    padding-top: 10px;
    text-align: center;
}
.back{
    background-color: black;
    position: relative;
    color: white;
    font-size: 14px;
    align-items: center;
    left: 301px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    top: 4px
}
.backtext{
    position: relative;
    font-size: 18px;
    text-align: center;
    left: 298px;
    width: 39px;
    height: 40px;
    border: none;
    border-radius: 50%;
    top: 5px;
}
.main1{
    height: 82px;
    position: absolute;
    display: block;
    padding-top: 46px;
    background-color: #F7F7F7;
    width: 1402px;
  

}
   .plus1{
    position: relative;
    color: white;
    background-color: blue;
    font-size: 28px;
    text-align: center;
    left: 790px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    top: 5px;
   }
   
   .task3{
    position: relative;
    color: black;
    padding: 5px;
    left: 790px;
    font-size: 21px;
    border: none;
    top: 2px;
}
/* index4 */
.mudasir1{
    opacity: 0.3;
    ;
}
.index4{
    background-color: white;
    border-radius: 10px;
    width: 448px;
    height: 185px;
    z-index: 1;
    position: absolute;
    top: 225px;
    left: 506px;
}
#add4{
    color: #303030;
    text-decoration: none;
    position: relative;
    font-size: 11px;
    left: 12px;
    top: 6px;
}
#cross4{
    position: absolute;
    color: gray;
    top: -4px;
    left: 387px;
    font-size: 19px;
    text-decoration: none;
}
.task4{
    color: white;
    background-color: #007cff;
    width: 148px;
    height: 32px;
    bottom: 20px;
    position: absolute;
    font-size: 20px;
    right: 18px;
}
#c4{
    border: 2px solid rgb(109, 108, 108);
    width: 418px;
    height: 22px;
    margin-left: 10px;
    background-color: rgb(158, 158, 158);
    font-size: 22px;
}
#learn4{
    position: relative;
    left: 17px;
    top: -15px;
    font-size: 18px;
}

   
